<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.huawei.appmarket" />
        <package android:name="com.hihonor.appmarket" />
        <package android:name="com.xiaomi.market" />
        <package android:name="com.heytap.market" />
        <package android:name="com.oppo.market" />
        <package android:name="com.bbk.appstore" />
        <package android:name="com.meizu.mstore" />
        <package android:name="com.sec.android.app.samsungapps" />
        <package android:name="com.tencent.android.qqdownloader" />
        <package android:name="com.qihoo.appstore" />
        <package android:name="com.baidu.appsearch" />
        <package android:name="com.android.vending" />
    </queries>
</manifest>
